@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 기본 폰트 적용 */
* {
  font-family: "Pretendard", system-ui, -apple-system, sans-serif;
}

.text-subtitle6-semi18 {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}

.text-btn1-semi14 {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}

.text-btn2-medium14 {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}