@import "tailwindcss";

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@theme {
  /* Main - Violet */
  --color-violet-110: #fbf9ff;
  --color-violet-100: #f1ecfc;
  --color-violet-90: #eae2fb;
  --color-violet-80: #d3c3f6;
  --color-violet-70: #b89bf8;
  --color-violet-60: #9a74ed;
  --color-violet-50: #713de3;
  /* Main - normal */
  --color-violet-40: #6637cc;
  /* hovered */
  --color-violet-30: #552eaa;
  /* pressed */
  --color-violet-20: #442588;
  /* selected */
  --color-violet-10: #331b66;
  --color-violet-5: #28154f;

  /* Secondary - Pink */
  --color-pink-100: #fff7f9;
  --color-pink-80: #fff3f6;
  --color-pink-60: #ffe7ed;
  --color-pink-50: #ffb1c4;
  /* Point - normal */
  --color-pink-40: #ff7395;
  /* hovered */
  --color-pink-30: #e32a57;
  /* pressed */
  --color-pink-20: #df0036;
  /* selected */
  --color-pink-10: #ae002a;
  --color-pink-5: #600017;

  /* Point - Blue */
  --color-blue-100: #edf2fc;
  --color-blue-90: #e0ebff;
  --color-blue-80: #a2c0f6;
  --color-blue-70: #5a8ce8;
  --color-blue-60: #4f46dd;
  /* Secondary - normal */
  --color-blue-50: #473fc7;
  /* hovered */
  --color-blue-40: #3f38b1;
  /* pressed */
  --color-blue-30: #3b35a6;
  /* selected */
  --color-blue-20: #2f2a85;
  --color-blue-10: #241f63;
  --color-blue-5: #1c194d;

  /* Mono */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Gray */
  --color-gray-1: #f3f3f3;
  --color-gray-2: #e6e6e6;
  --color-gray-3: #cbcbcb;
  --color-gray-4: #c3c3c3;
  /* normal */
  --color-gray-5: #9e9e9e;
  /* hover */
  --color-gray-6: #777777;
  /* active */
  --color-gray-7: #585858;
  --color-gray-8: #424242;
  --color-gray-9: #353535;
  --color-gray-10: #1f1f1f;
  /* Typo */

  /* Background */
  --color-bg0: #f8fafc;
  --color-bg1: #fbfbfb;
  --color-bg2: #f5f5f5;
  --color-bg3: #e2e2e2;
  --color-toastbg: rgba(53, 53, 53, 0.8);

  /* Stroke */
  --color-line1: #d9d9d9;
  --color-line2: #adadad;

  /* Gradients */
  --gradient-1-main: linear-gradient(90deg, #713de3 0%, #4f46dd 100%);
  --gradient-4: linear-gradient(90deg, #713de3 0%, #ff7395 100%);
  --fs-title1: 1.5rem; /* 24 */
  --fs-title2: 1.375rem; /* 22 */
  --fs-title3: 1.25rem; /* 20 */
  --fs-title4: 1.125rem; /* 18 */

  --fs-subtitle1: 1.125rem; /* 18 */
  --fs-subtitle2: 1rem; /* 16 */
  --fs-subtitle3: 0.9375rem; /* 15 */

  --fs-body1: 0.9375rem; /* 15 */
  --fs-body2: 0.875rem; /* 14 */

  --fs-button1: 0.8125rem; /* 13 */
  --fs-button2: 0.75rem; /* 12 */

  --fs-caption1: 0.6875rem; /* 11 */
  --fs-caption2: 0.625rem; /* 10 */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
